.grid-container {
    border: 1 px solid black;
}

.taulukko {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 250px;
    margin: 5px;
    padding: 5px;
    border: 1 px solid black;
}

.taulukko div {
    
    grid-column: 1/span 2;
    justify-content: left;
    padding: 5px;
    width: 100px;
}

.taulukko .a1 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a2 {
    grid-column: 2/ span 2;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a3 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a4 {
    grid-column: 2/ span 2;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}


.taulukko .a5 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a6 {
    grid-column: 2/ span 2;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a7 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
    vertical-align: 50%;
}

.taulukko .a8 {
    grid-column: 2/ span 2;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a9 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a10 {
    grid-column: 2/ span 2;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a11 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a12 {
    grid-column: 2/ span 2;
    /* justify-content: left; */
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a13 {
    grid-column: 1 /span 1;
    border: 1 px solid black;
}

.taulukko .a14 {
    grid-column: 2/ span 2;
    /* justify-content: left; */
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a15 {
    grid-column: span 2;
    border: 1 px solid black;
}