.navbar {
    align-items: center;
    flex-direction: row;
}

.nav-link {
    margin-right: 5px;
}

.button {
    margin-right: 350px;
}

.grid-container {
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
}

@media only screen and (min-width: 768px) {
    .navbar{
        background: lightgrey;
    }    
}
@media only screen and (min-width:768){
    .grid-container {
      background: white;
    }    
}

.img {
    margin-right: 10px;
    float: center;
}

.column {
    padding-top: 20px;
    align-content: space-between;
}

.table { 
    border-collapse: collapse; 
    width: 66%;
    
} 

.form { 
    border-collapse: collapse; 
    width: 33%; 
    margin-right: 600px;
} 

th, 
td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
} 
