.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  grid-template-columns: 2;
  grid-template-rows: 20px 20px 20px 60px 30px 40px 60px 40px;
}

.grid-item{
    text-align:left;
    padding: 10px;
    grid-column: 1 /span 1;
    width: 120px;
}

.grid-item > div {
  border: 1px solid black;

}
  

.grip-item-two {
   text-align: left;

}

.flex-item-two{
    display: inline-block;
    width:160px;
    height:160px;
    align-items: left;
}

.flex-item-two div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
}
input {  
    margin-right: 50px;
  }


.flex-item-four div{
    margin-top: 60px !important;
   display: inline-block;
   text-align: left;
   width: 200px;
   height: 200px;
  

  }
  .input [type="reset"] {
    margin-right: 50px;
 
  }

  .flex-item-five {
    margin-top: 150px;
    margin-left: 70px;
    
  }






