.grid-container {
    display: grid;
    justify-content: center;
    border: 1px solid black;    
    width: fit-content;
    grid-column: 1 /span 2;
}


.taulukko {
    display: grid;
    grid-template-columns: 2;
    margin: 5px;
    padding: 5px;
}

.taulukko div {
    display: grid;
    grid-column: span 2;
    padding: 5px;
    justify-content: right;
    border-radius: 1 px solid black;

}

.taulukko .a1 {
    grid-column: span 1;

    justify-content: right;
}

.taulukko .a2 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;

}

.taulukko .a3 {
    grid-column: span 1;
}

.taulukko .a4 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;

}


.taulukko .a5 {
    grid-column: span 1;

    justify-content: right;
}

.taulukko .a6 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;
;
}

.taulukko .a7 {
    grid-column: span 1;

    justify-content: right;
}

.taulukko .a8 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;

}

.taulukko .a9 {
    grid-column: span 1;

    justify-content: right;
}

.taulukko .a10 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;

}

.taulukko .a11 {
    grid-column: span 1;

    justify-content: right;
}

.taulukko .a12 {
    grid-column: span 1;
    justify-content: right;

}

.taulukko .a13 {
    grid-column: span 1;
    justify-content: center;

}

.taulukko .a14 {
    grid-column: span 1;
    justify-items: left;

}

.taulukko .a15 {
    grid-column: span 2;
    line-height: 40px;
    justify-content: center;
}