.navbar {
    align-content: center;
}

.grid-container {
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
}

@media only screen and (min-width: 768px) {
    .navbar{
        background: grey;
    }    
}
@media only screen and (min-width:768){
    .grid-container {
      background: white;
    }
    
}

.column {
    padding-top: 20px;
    align-content: space-between;
}

.table { 
    border-collapse: collapse; 
    width: 66%;
} 

.form { 
    border-collapse: collapse; 
    width: 33%; 
    margin-right: 520px ;
} 

th, 
td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
} 
