.grid-container {
  display: grid;
  gap: 10px;
  border: 1px solid black;
  padding:5px;
  width: fit-content
}

.grid-item {
   text-align: center;
   padding: 10px;
   /* border: 1px solid black; */
   width: 150px;

}

.item1 {
  grid-column: 1;
  grid-row:1;
  border: 1px solid black;

}

.grid-item-three {
   text-align: center;
   padding: 10px;
   width: 300px;






