.grid-container {
  display: grid;
  margin: 10px;
  border: 1px solid black;
  width: 30%;
}

.grid-item{
    text-align:left;
    padding: 10px;
    grid-column: 1 /span 1;
    width: 120px;
}

.grid-item > div {
  border: 1px solid black;

}
  

.grip-item-two {
   text-align: left;

}


.grid-item-three < div {
   grid-column: 2 / span 1;
   width: 160px;
}






