a:link {
    text-decoration: none;
  }

body {
    margin: 0;
    
    
}

.topnav {
    display: flex;
    overflow: hidden;
    background-color: #e9e9e9;
    height: 100px;
    align-content: center;
    justify-content: center;
  }

  .topnav .search-container {
    float: right;
  }

#valinta {
    background-color: white;
}

.topnav .search-container button {
    float: right;
    margin-right: 16px;
    margin-left: 10px;
    background: #ddd;
    font-size: 14px;
    border: solid 1px ;
}
.flex-container {
    margin-left: 10px;
}