.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.grid-item{
    text-align:left;
    padding: 10px;
    grid-column: 1 /span 1;
}

.grid-item > div {
  border: 1px solid black;
  width: 100px;
}

.grid-item-one{
    display: inline-block;
    width:120px;
    height:120px;
    align-items: center;
}    

.flex-item-one div {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.flex-item-two{
    display: inline-block;
    width:160px;
    height:160px;
    align-items: left;
}

.flex-item-two div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
}
input {  
    margin-right: 50px;
  }


.flex-item-four div{
    margin-top: 60px !important;
   display: inline-block;
   text-align: left;
   width: 200px;
   height: 200px;
  

  }
  .input [type="reset"] {
    margin-right: 50px;
 
  }

  .flex-item-five {
    margin-top: 150px;
    margin-left: 70px;
    
  }






