
.grid-container{  
    display: grid;
    width: fit-content; 
    grid-template-columns: 80px 120px 250px 217px 233px;   
    grid-template-areas:
    "header header header2 header2 header2"
    "header header main main2 main3"
    "navMain navMain2 main4 main5 main6"
    "navMain navMain3 main7 main8 main9"
    "navMain navMain3 main7 main8 main9"
    "navMain navMain4 footer footer2 footer3";
    grid-template-rows: 40px 60px 40px 40px 60px 50px 50px;
    gap: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px; 
    align-items: left;  
    } 

.grid-container > div {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    border-width: 1px;
    border-style: solid;
    align-items: center;

}

.header {
    grid-area: header;
    /* grid-column: 1/span2;
    grid-row: 1/span 2; */
    /* border-width: 1px;
    border-style: solid; */
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center; 
    
    /* height: 100px;  */
    /* width: 200px; */
    }

.header2 {
    grid-area: header2;
    /* grid-column: 3/span 3;
    grid-row: 1/span 1; */
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 40%;
    }  
  
.navMain{
    grid-area: navMain;
    grid-column: 1;
    grid-row: 3/span 5;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;

} 

.navMain2 {
    grid-area: navMain2;
    grid-column: 2 ;
    grid-row: 3;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
} 

  
.main{
    grid-area: main;
    grid-column: 3;
    grid-row: 2;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    height: 60%;
    /* width: 250px; */
} 

.main2 {
    grid-area: main2;
    grid-column: 4;
    grid-row: 2;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    height: 60%;
    /* width: 217px; */
}

.main3{
    grid-area: main3;
    grid-column: 5;
    grid-row: 2;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    height: 60%;
    width: 233px;
}


.main4 {
    grid-area: main4;
    grid-column: 3;
    grid-row: 3;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    /* border-width: 1px;
    border-style: solid; */
    height: 40px;
    /* width: 233px; */
}
 
.main5{
    grid-area: main5;
    grid-column: 4;
    grid-row: 3;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    /* border-width: 1px;
    border-style: solid; */
    height: 40px;
    /* width: 233px; */
}
.main6{
    grid-area: main6;
    grid-column: 5;
    grid-row: 3;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    text-align: center;
    /* width: 233px; */
    height: 40px;
}
  

.navMain3 {
        grid-area: navMain3;
        grid-column: 2;
        grid-row: 4/span 3 ;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        height: 150px;
        
    } 

.main7{
        grid-area: main7;
        grid-column: 3;
        grid-row: 4/span 3;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        padding:10px;
        height: 150px;
        margin-bottom:10px
}

.main8{
        grid-area: main8;
        grid-column: 4;
        grid-row: 4/span 3;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        padding:10px 0px;
        margin-bottom: 10px;
        height: 150px;
        
    }


    .main9{
        grid-area: main9;
        grid-column: 5;
        grid-row: 4/span 2;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        padding:10px 0;
        margin-bottom: 10px;
        height: 150px;
    }

    .navMain4 {
        grid-area: navMain4;
        grid-column: 2;
        grid-row: 7;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        height: fit-content;
        padding-top: 10px;
    }
    .footer {
        grid-area: footer;
        grid-column: 3;
        grid-row: 6/span 1;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        height: fit-content;
        padding: 10px;
    } 

    .footer2 {
        grid-area: footer2;
        grid-column: 4;
        grid-row: 6/span 1;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        height: fit-content;
        padding:10px;
        border-width: 1px;
        border-style: solid;
    } 

    .footer3 {
        grid-area: footer3;
        grid-column: 5;
        grid-row: 6/ span 1;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        text-align: center;
        height: fit-content;
        padding:10px;
        border-width: 1px;
        border-style: solid;
    }
    