/* #aargh {
    border: 1px solid ;
    color:black;
}
#school{
    display: flex;
    align-items: left;
}

.flex-item-one{
    display: inline-block;
    width:120px;
    height:120px;
    align-items: center;
}    

.flex-item-one div {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.flex-item-two{
    display: inline-block;
    width:160px;
    height:160px;
    align-items: left;
}

.flex-item-two div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
}
input {  
    margin-right: 50px;
  }


.flex-item-four div{
    margin-top: 60px !important;
   display: inline-block;
   text-align: left;
   width: 200px;
   height: 200px;
  

  }
  .input [type="reset"] {
    margin-right: 50px;
 
  }

  .flex-item-five {
    margin-top: 150px;
    margin-left: 70px;
    
  }
*/


 table {
    border: 1px solid black;
/*     align-items: center;
    justify-content:center; */
    border-radius: fit-content;
  }

  td, tr {
    border: 1px solid black;
  }

  #napit {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #napit2 {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

/*   #school {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 #school-name {
    font-weight: bold;
    margin-right: 50px;
 }
*/
