
.taulukko {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    width: 250px;
    /*
    margin: 5px;
    padding: 5px;
    border: 1 px solid black;*/
    justify-content: center; 
}

.taulukko div {
    grid-column: span 1;
    justify-content: right;
    padding: 5px;
    width: 100px;
    align-items: center;
}

.taulukko .a1 {
    grid-column: span 1;
    border: 1 px solid black;
    justify-content: right;
}

.taulukko .a2 {
    grid-column: span 1;
    justify-content: right;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a3 {
    grid-column: span 1;
    border: 1 px solid black;
}

.taulukko .a4 {
    grid-column: span 1;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}


.taulukko .a5 {
    grid-column: span 1;
    border: 1 px solid black;
}

.taulukko .a6 {
    grid-column: span 1;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a7 {
    grid-column: span 1;
    border: 1 px solid black;
    vertical-align: 50%;
}

.taulukko .a8 {
    grid-column: span 1;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a9 {
    grid-column: span 1;
    border: 1 px solid black;
}

.taulukko .a10 {
    grid-column: span 1;
    justify-content: left;
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a11 {
    grid-column: span 1;
    border: 1 px solid black;
}

.taulukko .a12 {
    grid-column: span 1;
    /* justify-content: left; */
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a13 {
    grid-column: span 1;
    border: 1 px solid black;
}

.taulukko .a14 {
    grid-column: span 1;
    /* justify-content: left; */
    margin-left: 10px;
    border: 1 px solid black;
}

.taulukko .a15 {
    grid-column: span 2;
    margin: 5px;
    align-self: center;
    border: 1 px solid black;
}